@import url("styles/fonts/stylesheet.css");

@font-face {
  font-family: "IntegralCF-Regular";
  src: url("fonts/IntegralCF-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Integralbold";
  src: url("fonts/IntegralCF-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Integralxbold";
  src: url("fonts/IntegralCF-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Integralheavy";
  src: url("fonts/IntegralCF-Heavy.ttf") format("truetype");
}

@font-face {
  font-family: "Manifoldreg";
  src: url("fonts/ManifoldCF-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Manifoldxbold";
  src: url("fonts/ManifoldCF-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Manifolddemi";
  src: url("fonts/ManifoldCF-DemiBold.ttf") format("truetype");
}

/* Algemeen */

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-family: "Manifoldreg";
}

/**************/
/* CSS REMEDY */
/**************/

@import url("styles./fonts/stylesheet.css");

*,
*::after,
*::before {
  box-sizing: border-box;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  /* startje */
  --color-text: #111;
  --text-color: white;
  --bg-body: white;
  --summary-color: black;
  --kopjes-color: white;

  --main-bg-color: white;
  --color-background-background: #f4f4f4;
  --background-background-color: black;
  --color-h3: black;

  --header-height: 80px;

  --toggle-color: white;

  /* FONT SIZES  */
  --font-size-h3: 1.1em;
  --font-size-h3-2: 1.5em;
  --font-size-p: 1em;
  --font-size-button-pt: 0.7em;
  --font-size-button-bg: 0.8em;

  /* LETTER SPACING */
  --letter-spacing-button: 0.2em;
  --letter-spacing-1: 0.1em;

  /* BUTTON COLOR */
  --color-button-r: #ec3648;
  --color-button-w: white;
  --color-button-hover: #111;

  /* FONTS FAMILY*/
  --font-1: "IntegralCF";
  --font-2: "Integralbold";
  --font-3: "Integralxbold";
  --font-4: "Integralheavy";
  --font-5: "Manifoldreg";
  --font-6: "Manifoldxbold";
  --font-7: "Manifolddemi";

  --buton-p1-color: #ec3648;
  --font-button: rgb(255, 255, 255);
  --hover-button: black;
  --boder-color: black;
  --lineheight1: 1.6em;
}

/* https://css-tricks.com/a-complete-guide-to-dark-mode-on-the-web/ */
/*  */
body.dark-mode {
  --color-text: #d8d8d8;
  --main-bg-color: #404040;
  --background-background-color: #333;
  --color-background-background: #333;
  --header-bg-color: #1a1a1a;
  --color-button: #ec3648;
  --color-button-hover: #f4f4f4;
  --text-color: #b1b1b1;
  --color-text: #b1b1b1;
  --bg-body: black;
  --summary-color: rgb(222, 222, 222);
}

/****************/
/* JOUW STYLING */
/****************/

/* Algemene styling */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-style: bold;
  font-family: var(--font-6);
}

h1 a {
  text-decoration: none;
  color: #000000;
}

body {
  transition: overflow 0.3s ease;
  overflow-x: hidden;
  background-color: var(--bg-body);
}

main {
  padding-top: 5em; /* Zorg voor ruimte boven de hero-sectie */
  background-color: var(--background-main);
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-width: 100vw;
}

#dark-mode-toggle {
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 10000;

  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 2px;

  width: 100px;
  height: 40px;

  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  font-family: var(--font-2);

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

#dark-mode-toggle:hover {
  background-color: #333; =
  color: #fff; =
}
/***********/
/* HEADER */
/**********/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-bg-color);
  padding: 1em 2em;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: var(--header-height);
  top: 0;
  left: 0;
}

header h1 {
  font-size: 1.5em;
  color: var(--color-text);
  display: flex;
  justify-content: right;
  margin-left: 0.5em;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

header nav ul li {
  color: var(--color-text);
  text-decoration: none;
  font-size: 1em;
  padding: 2em 1em;
  display: flex;

  justify-content: space-between;
  align-items: flex-start;
  transition: color 0.3s ease;
  font-family: var(--font-5);
  letter-spacing: var(--letter-spacing-1);
}
/* Navigatie links */
header nav ul li a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 1em;
  padding: 2em 1em;
  display: block;
  justify-content: center;
  transition: color 0.3s ease;
  font-family: var(--font-5);
  letter-spacing: var(--letter-spacing-1);
}

header nav #dark-mode-toggle {
  display: hidden;
}

/* HAMBURGER MENU */
button {
  background: none;
  border: none;
  cursor: pointer;
  width: 1.4em;
  height: 0.9em;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

button span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--background-background-color);
  transition: all 0.3s ease;
}

/* MEDIA QUERIES: Zorg dat het hamburgermenu zichtbaar is op kleinere schermen */
@media (max-width: 1020px) {
  button {
    display: flex;
  }

  header nav ul {
    position: fixed;
    top: var(--header-height);
    left: 0;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: none;
    z-index: 9;
  }

  header nav ul li {
    text-align: ;
    padding: 0;
    width: 100%;
  }

  header nav ul li a {
    font-size: 1em;
    color: white;
    width: 100%;
    padding-left: 2.5em;
    font-family: "IntegralCF-Regular";
    letter-spacing: 0.2em;
  }

  /* Wanneer het hamburgermenu wordt geopend */
  header nav ul.show {
    display: flex;
  }

  /* Animatie voor het veranderen van de hamburgerknop naar een kruisje */
  button.open span:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 0.4em;
    background-color: white; 
  }

  button.open span:nth-child(2) {
    opacity: 0;
  }

  button.open span:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -0.3em;
    background-color: white; /* Kleur van de lijnen bij geopend menu */
  }

  /* Wanneer het menu geopend is, verandert de headerkleur */
  header.menu-open {
    background-color: black;
  }

  header.menu-open h1 a {
    color: white;
  }

  header.menu-open nav ul li a {
    color: white;
  }
}

@media (min-width: 1200px) {
  header h1 {
    font-size: 2em;
    margin-left: 2em;
  }

  header nav ul {
    display: flex;
    justify-content: center;
    margin-right: 8em;
    gap: 3em;
  }
  header {
    height: 7em;
  }
  nav {
    height: 5em;
  }

  header.menu-open nav ul li a {
    margin-left: 2em;
  }
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 2em;
  font-family: Arial, sans-serif;
}

footer h2 {
  font-size: 1.5em;
  margin-bottom: 5em;
  text-transform: uppercase;
  margin-bottom: 1em;
  font-weight: bold;
  text-align: left; /* Links uitlijnen */
}

/* Stijling voor de sectie met de details */
footer section {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1em;
  margin-bottom: 2em;
  text-align: left; /* Links uitlijnen van tekst */
}

footer section details {
  width: 100%;
  max-width: 900px;
}

footer section details summary {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5em 0;
  border-bottom: 1px solid #545454;
  text-align: left; /* Links uitlijnen */
}

footer section details ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

footer section details[open] ul {
  display: block;
  margin-top: 0.5em;
}

footer section details ul li {
  font-size: 0.9em;
  color: #ccc;
  padding: 0.3em 0;
  text-align: left; /* Links uitlijnen */
}

/* Stijling voor de social media links (eerste nav) */
footer nav:nth-of-type(1) {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 1.5em;
}

footer nav:nth-of-type(1) a {
  color: #fff;
  font-size: 1.2em;
  transition: color 0.3s;
}

footer nav:nth-of-type(1) a:hover {
  color: #ccc;
}

/* Stijling voor de beleidslinks (tweede nav) */
footer nav:nth-of-type(2) {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 2em;
  color: #666;
}

footer nav:nth-of-type(2) a {
  font-size: 0.8em;
  color: #666;
  text-decoration: none;
  text-transform: uppercase;
}

footer nav:nth-of-type(2) a:hover {
  color: #fff;
}
